.footer {
    /* background-color: #fff; */
    /* padding: 10px; */
    width: 100%;
    position: fixed;
    /* bottom: 0; */
}

a{
    text-decoration: none;
}

.container-footer {
    display: flex;
    justify-content: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex-basis: 33.33%;
}

ul {
    list-style: none;
    padding: 0;
}y

ul li a {
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}